body {
	font-family: Roboto Condensed;
	font-size: 36px;
	display:inline-block;
}

#text {
/*	height: 100px;
	width: 100px;*/
	background-color:gray;
}


.a:hover {
	color:lightblue;
	display:inline-block;
}

.b:hover {
	color: blue;
	display:inline-block;
}

.c:hover {
	color: yellow;
	display:inline-block;
}

.d:hover {
	color: red;
	display:inline-block;
}

/*.abcd {
	color:orange;
}*/
